{% extends "FlowApp/base.html" %}
{% load static %}
{% block body %}
<h1>Listado de Id_Tanques</h1>


<a href={% url 'NuevoId_Tanques' %}>Nuevo Id_Tanque</a>
{% for id_tanque in id_tanques %}
    <li>Nombre: {{id_tanque.id_tanque}}
        <p>
            <a href="{% url 'DetalleId_Tanques' id_tanque.pk %}">Ver</a>
            |
            <a href="{% url 'EditarId_Tanques' id_tanque.pk %}">Editar</a>
            |
            <a href="{% url 'BorrarId_Tanques' id_tanque.pk %}">Borrar</a>


        </p>
    </li>


{% endfor %}
{% endblock body %}